page-contacts {
  .trauma-center-level {
    background-color: map-get($myColors, red500);
    color: map-get($myColors, light);
  }
  .behavioral-health {
    background-color: map-get($myColors, blue100);
  }

}
