<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Protocols</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="search" debounce="500"></ion-searchbar>
  <ion-list>
    <div *ngFor='let protocolGroup of (configuration$ | async)?.getProtocolGroupsWithFilter(this.search)'>
      <ion-item-divider color="light" *ngIf="protocolGroup?.protocols.length > 0">{{ protocolGroup.name }}</ion-item-divider>
      <a ion-item *ngFor='let protocol of protocolGroup.protocols' (click)="protocolTapped($event, protocol)">{{ protocol.name }}</a>
    </div>
  </ion-list>

</ion-content>
