<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Protocols</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="search" debounce="500"></ion-searchbar>
  <ion-list>
    <div *ngFor='let protocolGroup of (configuration$ | async)?.getProtocolGroupsWithFilter(this.search)'>
      <ion-item-divider color="light" *ngIf="protocolGroup?.protocols.length > 0" (click)="protocolGroup.show = !protocolGroup.show">
        {{ protocolGroup.name }}
        <ion-icon name="arrow-dropdown" item-right *ngIf="!protocolGroup?.show && !this.search"></ion-icon>
        <ion-icon name="arrow-dropup" item-right *ngIf="protocolGroup?.show || this.search"></ion-icon>
      </ion-item-divider>
      <div *ngIf="protocolGroup?.show || this.search">
        <a ion-item *ngFor='let protocol of protocolGroup.protocols' (click)="protocolTapped($event, protocol.id)">{{ protocol.name }}</a>
      </div>
    </div>
  </ion-list>

</ion-content>
