page-protocol {

}
ion-list-header.emt {
  background-color: #90CAF9;
}
ion-list-header.emt-iv {
  background-color: #9FA8DA;
}
ion-list-header.paramedic {
  background-color: #B39DDB;
}
ion-list-header.assessments, ion-list-header.note {
  background-color: map-get($colors, light);
}
