<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ protocol.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngIf="protocol.assessments && protocol.assessments.length != 0">
    <ion-card-header>
      Assessments
    </ion-card-header>
    <ion-card-content [innerHTML]="protocol.assessments|MarkdownToHtml"></ion-card-content>
  </ion-card>
  <ion-card *ngIf="protocol.standingOrders.basic && protocol.standingOrders.basic.length != 0">
    <ion-card-header>
      EMT-B Standing Orders
    </ion-card-header>
    <ion-card-content [innerHTML]="protocol.standingOrders.basic|MarkdownToHtml"></ion-card-content>
  </ion-card>
  <ion-card *ngIf="protocol.standingOrders.intermediate && protocol.standingOrders.intermediate.length != 0">
    <ion-card-header>
      EMT-IV Standing Orders
    </ion-card-header>
    <ion-card-content [innerHTML]="protocol.standingOrders.intermediate|MarkdownToHtml"></ion-card-content>
  </ion-card>
  <ion-card *ngIf="protocol.standingOrders.paramedic && protocol.standingOrders.paramedic.length != 0">
    <ion-card-header>
      EMT-P Standing Orders
    </ion-card-header>
    <ion-card-content [innerHTML]="protocol.standingOrders.paramedic|MarkdownToHtml"></ion-card-content>
  </ion-card>
  <ion-card *ngIf="protocol.notes && protocol.notes.length != 0">
    <ion-card-header>
      Notes
    </ion-card-header>
    <ion-card-content [innerHTML]="protocol.notes|MarkdownToHtml"></ion-card-content>
  </ion-card>
</ion-content>
