<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item text-wrap>
      Your supervisor or IT personnel should share a value to use below. For evaluation purposes, view our <a (click)="launch('http://procedure.center/configs/')">configuration repository</a>.
    </ion-item>
    <form [formGroup]="webFetchForm" (ngSubmit)="getWebFetchForm()">
      <ion-item>
        <ion-label stacked>Configuration URL</ion-label>
        <ion-input formControlName="definitionUrl" type="url" item-right></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Version</ion-label>
        <ion-input type="text" disabled="true" value="{{ definitionMd5 }}"></ion-input>
      </ion-item>
      <button ion-button type="submit" [disabled]="!webFetchForm.valid" color="secondary" full>Fetch Configuration</button>
    </form>
    <ion-item *ngIf="hideAdvanced" text-center><button (click)="hideAdvanced = false" ion-button clear color="dark">Advanced...</button></ion-item>
    <form [formGroup]="configurationForm" (ngSubmit)="updateAgency()" *ngIf="!hideAdvanced">
      <ion-item>
        <ion-label stacked>Raw Configuration</ion-label>
        <ion-textarea formControlName="rawDefinition" rows="6"></ion-textarea>
      </ion-item>
      <button ion-button type="submit" [disabled]="!configurationForm.valid" full>Save</button>
    </form>
  </ion-list>
</ion-content>
