page-start-triage {
  .green500 {
    background-color: map-get($myColors, green500);
  }
  .red500 {
    background-color: map-get($myColors, red500);
  }
  .yellow500 {
    background-color: map-get($myColors, yellow500);
  }
  .card-image {
      max-height: 50%;
      max-width: 60%;
      margin: 18px 0;
      font-size: 25vw;
      color: map-get($myColors, blue500);
  }
}
