page-trauma-triage {
  .green500 {
    background-color: map-get($colors, green500);
  }
  .red500 {
    background-color: map-get($colors, red500);
  }
  .yellow500 {
    background-color: map-get($colors, yellow500);
  }
  .orange500 {
    background-color: map-get($colors, orange500);
  }
  .card-image {
      max-height: 50%;
      max-width: 60%;
      margin: 18px 0;
      font-size: 25vw;
      color: map-get($colors, blue500);
  }
}
